h1 {
    display: flex;
    justify-content: center;
    color: black;
}

#button {
    display: flex;
    justify-content: center;
}

#towers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;

    border-radius: 25%;
}

#startTower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 9px;
    height: 120px;
    border-radius: 50px;
    background-color: black;
}

#middleTower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 9px;
    height: 120px;
    border-radius: 50px;
    background-color: black;
}

#endTower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 9px;
    height: 120px;
    border-radius: 50px;
    background-color: black;
}

.disk4 {
    display: flex;
    width: 40px;
    background-color: #e91e63;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
}

.disk3 {
    display: flex;
    width: 70px;
    background-color: #00bcd4;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
}

.disk2 {
    display: flex;
    width: 87.5px;
    background-color: #8bc34a;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
}

.disk1 {
    display: flex;
    width: 105px;
    background-color: #ffc107;
    list-style: none;
    height: 16px;
    display: block;
    border-radius: 9px;
}

#holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 100px;
    border-radius: 25%;
    margin: auto;
}